@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

body {
    background-color: #fff;
    color: #313131;
    font-family: var(--font-dm-sans), sans-serif;
}

.app-container {
    @apply px-[5%] md:px-[8%] lg:px-[6%] 2xl:px-[5%];
}

.slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-3 h-3  rounded-full cursor-pointer;
}

.slider-thumb::-webkit-slider-thumb:hover {
    @apply bg-gray-300;
}

.hidden-scrollbar {
    overflow-y: scroll; /* add a vertical scrollbar */
}

/* hide the scrollbar */
.hidden-scrollbar::-webkit-scrollbar {
    width: 0px !important; /* width of the scrollbar */
    background-color: transparent !important; /* background color of the scrollbar */
}

.hidden-thin-scrollbar {
    overflow-y: scroll; /* add a vertical scrollbar */
}

.hidden-thin-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}

.hidden-thin-scrollbar::-webkit-scrollbar-thumb {
    background: #949eff;
}

.hidden-x-scrollbar {
    overflow-x: scroll; /* add a vertical scrollbar */
}

/* hide the scrollbar */
.hidden-x-scrollbar::-webkit-scrollbar {
    width: 0px !important; /* width of the scrollbar */
    /* background-color: transparent !important; background color of the scrollbar */
}

.container {
    width: 100% !important;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
}

.image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.transparent-bg {
    background: rgba(227, 229, 229, 0.3);
}

.tr-hover:hover {
    border-radius: 10px;
    box-shadow: -10px 20px 25px 0px rgba(0, 0, 0, 0.05);
}

.btn-shadow {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.dropdown-shadow {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}